<div class="top-div">

</div>
<div>
  <%= simple_form_for([@evaluation, @question], html: {class: "form-horizontal"}) do |f| %>
    <%= f.input :text %>
    <%= f.input :type, collection: @types %>
    <%= f.submit "Add Another Question", input_html: {value: "true", name: "continue"} %>
    <%= f.submit "Done", input_html: {value: "false", name: "continue"} %>
  <% end %>
</div>
