<div class="row top-div">
  <div class="col-xs-12">
    <h2><%= @blogpost. title %></h2>
    By: <%= @blogpost.user.full_name %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 center-block">
    <%= image_tag @blogpost.image.url, class: "img-responsive" %>
  </div>
  <div class="col-xs-12">
    <pre>
      <%= simple_format @blogpost.body %>
    </pre>
  </div>

  <!-- add commnet to the current blogpost -->
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <%= render "comments/form" %>
    </div>
  </div>

  <!-- display the comments for the current post -->
  <div id="comments" class="row comment-form">
    <% @comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>
</div>
