<div class="row top-div">
  <div class="col-xs-12">
    <h2><%= @blogpost. title %></h2>
    By: <%= @blogpost.user.full_name %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= image_tag @blogpost.image.url, class: "blog-header-image" %>
  </div>
  <div class="col-xs-12">
    <pre>
      <%= @blogpost.body %>
    </pre>
  </div>

  <!-- add commnet to the current blogpost -->
  <div>
    <%= render "comments/form" %>
  </div>

  <!-- display the comments for the current post -->
  <div id="comments">
    <% @comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>
</div>
