<%= form_tag "/observations" do %>
<div class="top-div row" >
  <div class="col-xs-12">
    <% if current_user.role.id == 4 %>
    <div class="top-div" id="store-select">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="center page-headline-sm">Choose a Location</h1>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
          <ul class="answer-list">
            <% current_user.location.district.locations.each do |location| %>
              <li>
                <button class="location-button center-block" id="<%= location.id %>"><%= location.name %></button>
              </li>
            <% end %>
            <input type="hidden" id="location-id" name="observation[location_id]" />
          </ul>
          <button id="location-select" class="form-control">NEXT</button>
        </div>
      </div>
    </div>
    <div class="top-div" id="employee-select">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="center page-headline-sm">Who Are You Evaluating?</h1>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
          <select class="form-control">
            <% @employees.each do |employee| %>
              <option id="<%= employee.id %>"><%= employee.full_name %></option>
            <% end %>
          </select>
          <button id="employee-button" class="form-control">NEXT</button>
          <input type="hidden" id="employee-id" name="observation[employee_id]" />
        </div>
      </div>
    </div>
    <% else %>
    <div class="row">
      <% current_user.location.users.each do |employee| %>
        <% if employee != current_user %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <button class="subject-button" id="<%= employee.id %>">
            <% if employee.avatar.present? %>
              <%= image_tag employee.avatar.url, class: "user-avatar" %>
            <% else %>
              <%= image_tag 'default_avatar.png', class: "user-avatar" %>
            <% end %>
            <p class="employee-name"><%= employee.full_name %></p>
          </button>
        </div>
        <% end %>
      <% end %>
      <input type="hidden" id="subject-id" name="observation[subject_id]" />
    </div>
    <% end %>
  </div>
</div>
<div class="top-div row" id="evaluation-select">
  <div class="col-xs-12">
    <div>
      <h2 class="center page-headline-sm">Which evaluation</h2>
    </div>
    <div>
        <ul class="answer-list">
          <% current_user.company.evaluations.each do |eval|  %>
            <li>
              <button class="eval-button center-block" id="<%= eval.id %>"><%= eval.title %></button>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<div class="slide-div row" id="continue-select">
  <div class="col-xs-12">
    <!-- { observation: {subject_id: subject, evaluation_id: eval} -->
    <input type="hidden" id="evaluation-id" name="observation[evaluation_id]" />
    <button id="start-observation" class="next-button center-block">CONTINUE</button>
  </div>
</div>
<% end %>
