<div class="top-div row company-header">
  <div class="col-xs-12 ">
    <h1><%= current_user.company.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-7 chart-holder">
    <h3 class="center">Total Evaluations</h3>
    <%= column_chart @observations.group_by_day("observations.created_at", format: "%B %d").count%>
  </div>
  <div class="col-xs-12 col-md-5 chart-holder">
    <h3 class="center">Completed Observations</h3>
    <% results = Hash.new(0) %>
    <% @observations.each do |observation| %>
      <% percent = observation.responses.length.to_f / 20 %>
      <% if percent > 0.8 %>
        <% results["complete"] += 1 %>
      <% else %>
        <% results["incomplete"] += 1 %>
      <% end %>
    <% end %>
    <%= pie_chart(results) %>
  </div>
</div>
<div>
  <h3 class="center underline">Individual Observations</h3>
  <!-- loop over each of the observations from the company -->
  <% @observations.each do |observation| %>
    <!-- create a 'button' to enable the drop down menu with the date and name of employee observed -->
    <button class="observation-list-button" data-toggle="collapse" data-target="#observation-<%= observation.id %>" aria-expanded="false" aria-controls="observation-<%= observation.id %>">
      </span>
      <%= observation.created_at.strftime("%B %d") %> - <%= observation.subject.full_name %> (<%= observation.subject.location.name %>)
    </button>
      <div class="collapse" id="observation-<%= observation.id %>">
        <% question_number = 1 %>
        <table>
          <tbody>
            <% observation.responses.reverse.each do |response| %>
              <tr>
                <td>
                  <!-- break down each question into the number of times that each answer was given -->
                  <%= question_number %>. <%= response.question.text %>
                </td>
                <td>
                  <%= response.answer.answer %> |
                  <%= link_to "See answer breakdown", question_breakdowns_path(response.question), remote: true, "data-toggle" => "modal", "data-target" => "#breakdownModal", "data-question-text" => "#{response.question.text}" %>

                <!-- put modal code here -->

                </td>
                <% question_number += 1 %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  <% end %>
</div>
<!-- Modal -->
<div class="modal fade" id="breakdownModal" tabindex="-1" role="dialog" aria-labelledby="breakdownModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id="breakdown-chart">
          <!-- pie chart rendered here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
