<div class="row" id="tour-background">
  <div class="col-sm-12 col-md-9 col-lg-8">
    <h1 id="tour-title">Build success by building salespeople</h1>
    <button class="CTA-button-tour center-block">Take The Tour</button>
  </div>
  <div id="nav-trigger">
    <p class="scroll-down hidden-xs col-sm-12">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 center">
    <h2>This is the section header</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'clouds.jpeg', class: "one-third-image" %>
    <p>
       Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.
    </p>
    </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'clouds.jpeg', class: "one-third-image" %>
    <p>
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.
    </p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'clouds.jpeg', class: "one-third-image" %>
    <p>
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag 'clouds.jpeg', class: "tour-image" %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <p class="tour-text">
      Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui.
    </p>
  </div>
</div>
<div class="row dark-background">
  <div class="col-xs-12 col-sm-6">
    <p class="tour-text-white">
      Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui.
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag 'clouds.jpeg', class: "tour-image" %>
  </div>
</div>
