<div class="top-div">
  <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.select :location_id, options_for_select(@locations) %>
    <%= f.input :avatar %>
    <%= f.input :password %>
    <%= f.input :confirm_password %>
    <%= f.submit %>
  <% end %>
</div>
