<div class="row top-row" id="home-background">
  <div class="col-xs-12">
    <h1 id="main-title">The sky is the&nbsp;limit.</h1>
    <div class="big-top">
      <p class="subheader">
        Streamlined evaluation tools that make&nbsp;sales&nbsp;soar.
      </p>
    </div>
    <div class="big-top">
      <button class="CTA-button-white center-block main-btn-margin">Learn More &raquo;</button>
    </div>
    <div id="nav-trigger">
      <p class="scroll-down">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </p>
    </div>
  </div>
</div>
<div class="row whitebg" id="header-done">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      <%= link_to "New User", new_user_path %>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
