<div class="row top-row" id="home-background">
  <div class="col-xs-12">
    <h1 id="main-title">The sky is the&nbsp;limit.</h1>
    <div class="big-top">
      <p class="subheader">
        Streamlined evaluation tools that make&nbsp;sales&nbsp;soar.
      </p>
    </div>
    <div class="big-top">
      <button class="CTA-button-white center-block main-btn-margin">Learn More &raquo;</button>
    </div>
    <div id="nav-trigger">
      <p class="scroll-down hidden-xs">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </p>
    </div>
  </div>
</div>
<div class="row whitebg" id="header-done">
  <div class="hidden-xs col-sm-12">
    <h2 class="page-headline-lg">Data-driven sales evaluation that makes a difference.</h2>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <h2 class="page-headline-sm">Data-driven sales evaluation that makes a difference.</h2>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-4 home-icon">
        <%= image_tag "eye.png", class: "img-responsive center-block" %>
        <h3 class="summary-head">Make Observation Easy</h3>
        <p class="summary-text">
          Observing and evaluating is an important part of allowing your employees to grow, but in the past observation tools were slow, ugly, and not user-friendly. Coahcify solves this by making simple, quick and intuitive.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 home-icon">
        <%= image_tag "growth.png", class: "img-responsive center-block" %>
        <h3 class="summary-head">People-focused Growth</h3>
        <p class="summary-text">
          Proper feedback lets team members know where they are shining and where to focus their efforts for improvement. This allows growth for individuals, locations, and companies that is focused on the maximization of opportunity.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 home-icon">
        <%= image_tag "profit.png", class: "img-responsive center-block" %>
        <h3 class="summary-head">Cash In on Improvement</h3>
        <p class="summary-text">
          Continuous improvement means more effective teams and increased revenue on all levels of the company. Employees qualify for top-tier commissions and bonuses and companies experience increased revenue and cash flow
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
<div class="row whitebg">
  <div class="col-xs-12">
    <%= image_tag "logo.png" %>
    <p>
      Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
  </div>
</div>
