<div class="top-div">
  <h1>This is the page where there evaluation is filled out for the employee</h1>
</div>
<div>
  <ul class="answer-list">
  <% @questions.each do |question| %>
    <li>
      <div class="row">
        <div class="col-xs-12">
          <p class="question-text"><%= question.text %></p>
        </div>
      </div>
      <div class="row">
        <% if question.kind == "Scale 1-10" %>
          <div class="col-xs-offset-1">&nbsp;</div>
          <% question.answers.each do |answer| %>
            <div class="scale-answer col-xs-1" id="<%= question.id %>">
              <p class="answer-button"><%= answer.answer %></p>
            </div>
          <% end %>
        <% elsif question.kind == "Grade" %>
        <div class="col-xs-offset-1"></div>
          <% question.answers.each do |answer| %>
            <div class="grade-answer col-xs-2" id="<%= question.id %>">
              <p class="answer-button"><%= answer.answer %></p>
            </div>
          <% end %>
        <% elsif question.kind == "True of False" || question.kind == "Yes or No" %>
          <% question.answers.each do |answer| %>
            <div class="scale-answer col-xs-4" id="<%= question.id %>">
              <p class="answer-button"><%= answer.answer %></p>
            </div>
          <% end %>
        <% else %>
          <% question.answers.each do |answer| %>
            <div class="other-answer col-xs-6" id="<%= question.id %>">
              <p class="answer-button"><%= answer.answer %></p>
            </div>
          <% end %>
        <% end %>

    </li>
  <% end %>
  </ul>
</div>

<!-- get the right evaluation

pop up all the potential employees to select one to know who the evaluation is on in case it isnt completed

load the first question on the screen

as questions are answered, go to the next question

allow for skipping from zone to zone after the 1st


save the evaluation to the database after each step -->
