<div class="top-div">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
    <%= simple_form_for@company, html: {class: "form-horizontal"}) do |f| %>
      <%= f.input :name, label: "Company Name", readonly: true %>
      <%= f.input :email %>
      <%= f.input :phone_number %>
      <%= f.input :address %>
      <p>Primary Contact</p>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.submit "Update", class: "form-control submit-button" %>
    <% end %>
  </div>
</div>
