<div class="top-div">
  <h1><%= @district.name %></h1>
</div>
<div>
  <%= simple_form_for([@district.company, @location], html: {class: "form-horizontal"}) do |f| %>
    <%= f.input :name, label: "Location Name" %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.select :state, options_for_select(@states) %>
    <%= f.input :zip_code %>
    <%= f.input :phone_number %>
    <%= f.input :district_id, :value => @district %>
    <%= f.submit "Add Location" %>
  <% end %>
</div>
