<div class="top-div">
  <h1><%= @location.name %></h1>
  <%= @location.company.name %>
</div>
<div>
  <h3>Store Manager</h3>
  <% @users.each do |user| %>
    <div>
      <% if is_store_manager?(user) %>
        <%= user.full_name %>
      <% end %>
    </div>
  <% end %>
</div>
<% if current_user.role.id == "4" %>
  <div>
    <%= simple_form_for(Employee.new, html: {class: "form-horizontal"}) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :first_name %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
<div>
  <h3>Store Employees</h3>
  <% @users.each do |user| %>
    <% if user.role.id != 6 %>
      <div>
        <%= user.full_name %>
      </div>
    <% end %>
  <% end %>
</div>
