<div class="top-div row company-header">
  <div class="col-xs-12">
    <h1><%= @location.name %></h1>
    <%= @location.company.name %><br />
    Manager:
    <% @location.users.each do |user| %>
        <% if user.role.position == "Store Manager" %>
          <%= user.full_name %>
        <% end %>
    <% end %>
    <% if is_account_executive? %>
      <div>
        <%= simple_form_for(Employee.new, html: {class: "form-horizontal"}) do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :location_id, :as => :hidden, :input_html => { :value => @location.id } %>
          <%= f.submit %>
        <% end %>
      </div>
    <% end %>
    <% if is_manager_or_higher? %>
    <%= simple_form_for([@location.company, Invitation.new], html: {class: "form-horizontal"}) do |f| %>
      <% roles = is_site_admin? || is_owner? ?
          Role.where("id >= ?", current_user.role.id) : Role.where("id > ?", current_user.role.id) %>
      <%= f.input :recipient_email, input_html: {label: "Recipient's Email Address", class: "form-width"} %>
      <% if is_site_admin? %>
        <%= f.collection_select :company_id, Company.all, :id, :name,:include_blank => true %>
      <% end %>
      <%= f.collection_select :role_id, roles, :id, :position %>
      <%= f.submit "Send Invitation", class: "form-control submit-button" %>
    <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <!-- total evaluations by day -->
  <div class="col-xs-12 col-md-7 chart-holder">
    <h3 class="center">Total Evaluations</h3>
    <%= column_chart @location.observations.group_by_day("observations.created_at", format: "%B %d").count%>
  </div>
  <!-- percentage complete surveys -->
  <div class="col-xs-12 col-md-5 chart-holder">
    <h3 class="center">Completed Observations</h3>
    <% results = Hash.new(0) %>
    <% @location.observations.each do |observation| %>
      <% if observation.responses.length != 0 %>
        <% percent = observation.responses.length.to_f / @observations.count %>
        <% if percent > 0.7 %>
          <% results["complete"] += 1 %>
        <% else %>
          <% results["incomplete"] += 1 %>
        <% end %>
      <% else %>
        <% results = {"incomplete": 1, "complete": 0} %>
      <% end %>
    <% end %>
    <%= pie_chart(results) %>

  </div>
</div>
<div>
  <h3>Store Employees</h3>
  <% @location.users.each do |user| %>
    <% if user.role.position == "Employee" %>
      <h4><%= user.full_name %></h4>
      <table>
        <tbody>
          <tr>
            <td>
              <h5>Total Observations</h5>
              <%= @location.observations.where("subject_id = ?", user.id).length %>
            </td>
            <td>
              <h5>Observations This Week</h5>
              <% date = Date.today  %>
              <%= @location.observations.where("subject_id = ? AND created_at >= ?", user.id, date.at_beginning_of_week).length %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <% @location.employees.each do |employee| %>
    <h4><%= employee.full_name %></h4>
    <table>
      <tbody>
        <tr>
          <td>
            <h5>Total Observations</h5>
            <%= @location.observations.where("employee_id = ?", employee.id).length %>
          </td>
          <td>
            <h5>Observations This Week</h5>
            <% date = Date.today  %>
            <%= @location.observations.where("employee_id = ? AND created_at >= ?", employee.id, date.at_beginning_of_week).length %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<div>
  <h3>Observations This Week</h3>
  <% date = Date.today %>
  <%= @location.observations.where("created_at >= ?", date.at_beginning_of_week).length %>
</div>
