<div class="top-div">
  <h1><%= @location.name %></h1>
  <%= @location.company.name %>
</div>
<div>
  <h3>Store Manager</h3>
  <% @location.users.each do |user| %>
    <div>
      <% if user.role.position == "Store Manager" %>
        <%= user.full_name %>
      <% end %>
    </div>
  <% end %>
</div>
  <% if is_account_executive? %>
    <div>
      <%= simple_form_for(Employee.new, html: {class: "form-horizontal"}) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :location_id, :as => :hidden, :input_html => { :value => @location.id } %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
  <% if is_manager_or_higher? %>
  <%= simple_form_for([@location.company, Invitation.new], html: {class: "form-horizontal"}) do |f| %>
    <% roles = is_site_admin? || is_owner? ?
        Role.where("id >= ?", current_user.role.id) : Role.where("id > ?", current_user.role.id) %>
    <%= f.input :recipient_email, input_html: {label: "Recipient's Email Address", class: "form-width"} %>
    <% if is_site_admin? %>
      <%= f.collection_select :company_id, Company.all, :id, :name,:include_blank => true %>
    <% end %>
    <%= f.collection_select :role_id, roles, :id, :position %>
    <%= f.submit "Send Invitation", class: "form-control submit-button" %>
  <% end %>
  <% end %>
<div>
  <h3>Store Employees</h3>
  <% @location.users.each do |user| %>
    <% if user.role.position == "Employee" %>
      <div>
        <%= user.full_name %>
      </div>
    <% end %>
  <% end %>
  <% @location.employees.each do |employee| %>
      <div>
        <%= employee.full_name %>
      </div>
  <% end %>
</div>
