<div class="top-div">
  <h1><%= @location.name %></h1>
  <%= @location.company.name %>
</div>
<div>
  <h3>Store Manager</h3>
  <% @location.users.each do |user| %>
    <div>
      <% if is_store_manager?(user) %>
        <%= user.full_name %>
      <% end %>
    </div>
  <% end %>
</div>
  <div>
    <%= simple_form_for(Employee.new, html: {class: "form-horizontal"}) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :location_id, :as => :hidden, :input_html => { :value => @location.id } %>
      <%= f.submit %>
    <% end %>
  </div>
<div>
  <h3>Store Employees</h3>
  <% @location.users.each do |user| %>
    <% if user.role.id != 6 %>
      <div>
        <%= user.full_name %>
      </div>
    <% end %>
  <% end %>
  <% @location.employees.each do |employee| %>
      <div>
        <%= employee.full_name %>
      </div>
  <% end %>
</div>
