<!DOCTYPE html>
<html>
  <head>
    <title>Coachify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top color-change" id="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="brand" href="<%= root_path %>"><%= image_tag "logo-color.png", class: "brand-logo" %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%= tour_index_path %>">Tour</a></li>
          <li><a href="<%= pricing_index_path %>">Pricing</a></li>
          <li><a href="<%= about_index_path %>">About</a></li>
          <li><a href="<%= blog_index_path %>">Blog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.avatar? %>
                  <%= image_tag(current_user.avatar.url, class: "navbar-pic") %>
                <% else %>
                  <%= image_tag 'user.jpg', class: "navbar-pic" %>
                <% end %>
                  <%= current_user.first_name %>
                <%# current_user.company.nickname %>
                <span class="caret"></span>
                </a>

              <ul class="dropdown-menu">
                <% if is_site_admin?(current_user) %>
                  <li><%= link_to "See All Companies", company_path(current_user.company) %></li>
                  <li><%= link_to current_user.company.name, company_path(current_user.company) %></li>
                <% elsif is_admin?(current_user) %>
                  <li><%= link_to "#{current_user.company.name} Dashboard" %></li>
                  <li><%= link_to "Admin Panel", company_path(current_user.company) %></li>
                  <li><%= link_to "Locations", company_locations_path(current_user.company) %></li>
                <% elsif is_district_manager?(current_user) %>
                  <li><%= link_to "District Dashboard" %></li>
                  <li><%= link_to "Admin Panel", company_path(current_user.company) %></li>
                  <li><%= link_to "District Locations", company_district_path(current_user.company, current_user.location.district) %></li>
                <% elsif is_store_manager?(current_user) %>
                  <li><%= link_to "Store Dashboard", company_path(current_user.company) %></li>
                <% else %>
                  <li><%= link_to "My Observations", users_path(current_user) %></li>
                <% end %>
                  <li><%= link_to "Edit Profile", edit_profile_path %></li>
                  <li><%= link_to "Logout", sessions_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><a href="<%= new_session_path %>">Log In</a></li>
          <% end %>
          <li id="nav-button-lg-screen" class="nav-button hidden-xs"><a href="<%= new_observation_path %>"><div id="nav-button">Start an Observation</div></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- statr evaluation button for small screen -->
  <div id="nav-button-sm-screen" class="hidden-sm hidden-md hidden-lg">
    <div class="nav-button"><a href="<%= new_observation_path %>"><div id="nav-button">Start an Observation</div></a></div>
  </div>
  <div class="container-fluid" id="content">

  <%= yield %>

  </div>
  </body>
</html>
